/* Custom Properties */

:root {
    /* Font Props */
    --ff-base: "Outfit", sans-serif;

    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700;

    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-700: 3.25rem;

    /* Colors */
    --clr-neutral-100: hsl(0 0% 100% / 1);

    --clr-accent-400: hsl(147 93% 43% / 1);

    --clr-primary-800: hsl(229 47% 17% / 1);
    --clr-primary-700: hsl(229 43% 20% / 1);
    --clr-primary-400: hsl(230 50% 58% / 0.3);
    --clr-primary-300: hsl(229 36% 39% / 1);
    --clr-primary-200: hsl(229 21% 53% / 1);

    --clr-secondary-400: hsl(229 78% 60%/ 1);
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
svg,
picture,
video {
    max-width: 100%;
    display: block;
}

html {
    color-scheme: dark;
}

body {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-700);
    
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    
    line-height: 1.5;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



/* Overall Section Layout */
#skills-experience {
    --skills-width: clamp(10rem,5vw,15rem);
    
    display: grid;
    grid-template-columns: var(--skills-width) 1fr;

    /* Leaves no empty cell */
    grid-auto-flow: dense;

    align-items: center;
    /* Height */
    min-height: 100vh;
    min-height: 100dvh;

    --main-grid-gap: clamp(2rem, 5vw,7rem);
    gap: var(--main-grid-gap);
}
.exp {
    grid-column: 2;
    
    width: calc(100vw - (var(--skills-width) + var(--main-grid-gap)) - clamp(1rem,5vw,3rem));
    padding-block: 1.25rem;
}
.skills {
    grid-column: 1;
    align-self: stretch;


    display: flex;
    justify-content: end;
}

#skills-experience .eyebrow {
    color: var(--clr-secondary-400);
    
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    
    margin: 0;
}

#skills-experience .heading {
    font-size: var(--fs-700);
    
    text-transform: uppercase;
    
    margin: 0;
}
/* Experience Layout */

.introduction {
    font-size: var(--fs-500);
    max-width: 55ch;
    margin-bottom: 2rem;
}
.job-experiences {
    position: relative;
    
    display: grid;
    grid-auto-flow: column;

    /* Is justify space between from default */
    justify-content: start;
    gap: 1rem;
    overflow-x: auto;
    
    scroll-snap-type: x mandatory;
    scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
    scrollbar-width: 0.75rem;
    
    padding-block: 2rem;
    padding-bottom: 1rem;
}

.job-experiences::-webkit-scrollbar {
    height: 0.75rem;
}
.job-experiences::-webkit-scrollbar-track {
    background-color: var(--clr-primary-800);
}
.job-experiences::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-400);
    border-radius: 2rem;
}


.job {
    background-color: var(--clr-primary-800);
    border-radius: 0.825rem;
    padding: 2rem 2rem;
    
    width: 30rem;
    scroll-snap-align: start;
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: relative;
}

.job-experiences .job:first-child:before {
    content: "CURRENT ROLE";
    color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
    position: absolute;
    /* left: 2rem; */
    font-size: var(--fs-200);
    top: -2rem;
}

.job:last-child {
    margin-right: 1rem;
}

.duration {
    color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
    font-size: var(--fs-300);
    letter-spacing: 0.2rem;
}
.job-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.job * {
    margin: 0;
}


/* Skills Layout */
.skills-list {
    position: relative;
    
    display: grid;
    align-content: center;
    gap: 3rem;
    
    height: 100%;
    
    list-style: none;
    /* margin-left: clamp(3rem, 10vw, 7rem); */
    margin: 0;
    padding: 0;
}
.skills-list::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--clr-primary-200);
    position: absolute;
}

.skills-list li {
    position: relative;
    padding-left: 3rem;
}
.skills-list li::before {
    --_size: 0.5rem;
    content: "";
    display: inline-block;

    position: absolute;
    top: 0;
    /* left: -3rem; */

    width: var(--_size);
    aspect-ratio: 1;

    background-color: var(--clr-neutral-100);
    border-radius: 50%;
    outline: 0.33rem solid var(--clr-primary-400);

    left: 0;
    transform: translateX(-50%);
}
